<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{categoria}}</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>
        #contenedor{
            text-align: center;
            width: 60%;
            margin-left: 20%;
        }
        ul{
            list-style: none;
        }
    </style>
</head>
<body>
    {% include "header.html" %}

    <div id="contenedor">
        <h2>Platos de la categoría: {{categoria}} </h2>
        <ul>
            {% for p in platos%}
            <li><a href="/plato/{{p.plato}}">{{p.plato}}</a></li>
            {%endfor%}
        </ul>
        <button class="btn btn-light"><a href="/">Home</a></button>
        <button type="button" class="btn btn-light"><a href="/altaplato">Crear Plato</a></button>
    </div>
    {% include "footer.html" %}

    
</body>
</html>